body {
  font-family: Gill Sans; /* Change the font family */
  font-size: 18px; /* Change the font size to 18px*/
}

header, footer {
  background-color: #23c9eb; /* add the same background color for header and footer*/
}

.site-title {
  color: rgb(221, 235, 145); /* change the color of text of the heading*/
}

#my-image {
  box-shadow: 0 0 2px 1px black; /* add shadow to the photo  */
}

.square-list {
  list-style-type: square; /* replace the bullet from the list with squares */
}

.square-list li:nth-child(odd) {
  background-color: rgb(221, 235, 145);; /* add the background to the odd list items in the hobby list */
}
/*styling the Navigation*/

nav>ul {
  list-style-type: none;
  /*Remove the bullet from the unordered list */
}

nav a {
  font-size: 19px;
  text-decoration: none; /* Remove the underline from the unordered list */
  background-color: rgb(221, 235, 145); /* Add a background-color */
  /* Add a border to the link */
  color:black;
  border: 3px solid black;
  padding: 1px 6px;
}

nav li a:hover, nav li a:focus {
  background-color: #589719; /* Change the background color on hover or focus state of the links */
}

nav>ul>li {
  display: inline;
}